$color1:#05183c;
$color2:#101217;
$color3:#444444;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// modifico header
header {
    .navColor {
        background-color: $color1;
    }
}
    // fin header

    // modifico main "index"
    main {
        .slide1 {
            background-image: url(../assets/img/slide1.jpg);
        }

        .slide2 {
            background-image: url(../assets/img/slide2.jpg);
        }

        .slide3 {
            background-image: url(../assets/img/slide4.jpg);
        }

        .carousel-item {
            height: 30rem;
            background-position: center;
            background-size: cover;
        }
    }

    // fin header "index"

    // modifico section "index"
    section {

        .bgColor {
            background-color: $color2;
        }

        h1 {
            text-align: center;
            text-shadow: 1px 1px 2px $color3;

            &:hover {
                color: #808080;
                transition: 0.4s;
            }
        }

        p {
            text-align: center;
            font-size: 18px;

            &::first-letter {
                font-size: 25px;
            }

            &:hover {
                color: #808080;
                transition: 1s;
            }
        }
    }

    // fin section "index"

    // modifico footer
    footer {
        height: 100px;
        background-color: $color1;
        width: 100%;

        .redes {
            color: #ffffff;
        }

        .ft {
            text-shadow: 2px 2px 3px $color3;
        }
    }
    // fin footer

    // modifico section "productos"
    section{
        .sectionVN{
            min-height: 1100px;
        }

        h2{
            text-shadow: 1px 1px 2px $color3;
        }   
    }
    // fin section "productos"

    // modifico main "contacto"
    main{
        .contacto{
            height: 550px;
            background-color: $color2;
        }
    }
    // fin main "contacto"
