$color1:#05183c;
$color2:#101217;
$color3:#444444;

// Tamaño titulos
$headings: (
    h1: 40px,
    h2: 32px,
    h3: 15px,
);

$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
// fin tamaño titulos

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// modifico header
header {
    .navColor {
        background-color: $color1;
    }
}
    // fin header

    // modifico main "index"
    main {
        .slide1 {
            background-image: url(../assets/img/slide1.jpg);
        }

        .slide2 {
            background-image: url(../assets/img/slide2.jpg);
        }

        .slide3 {
            background-image: url(../assets/img/slide4.jpg);
        }

        .carousel-item {
            height: 30rem;
            background-position: center;
            background-size: cover;
        }
    }

    // fin header "index"

    // modifico section "index"

    section {

        h1 {
            font-size: $h1;
            text-align: center;
            text-shadow: 1px 1px 2px $color3;

            &:hover {
                color: #808080;
                transition: 0.4s;
            }
        }

        p {
            text-align: center;
            font-size: 18px;

            &::first-letter {
                font-size: 25px;
            }

            &:hover {
                color: #808080;
                transition: 1s;
            }
        }
    }

    .bgColor {
        background-color: $color2;
        color: #ffffff;
    }

    // fin section "index"

    // modifico footer
    @mixin sizes($width, $height, $bcolor) {
        height: $height;
        width: $width;
        background-color: $bcolor;  
    }

    footer {
        @include sizes(100%, 100px , $color1);

        .redes {
            color: #ffffff;
        }

        .ft {
            text-shadow: 2px 2px 3px $color3;
        }
    }
    // fin footer

    // modifico section "productos"
    section{
        .sectionVN{
            min-height: 1100px;
        }

        h2{
            font-size: $h2;
            text-shadow: 1px 1px 2px $color3;
        }   
    }
    // fin section "productos"

    // modifico main "contacto"
    main{
        .contacto{
            @extend .bgColor;
            height: 550px;
        }
    }
    // fin main "contacto"
